/* line 1, ../../src/css/console.scss */
.console {
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  min-height: 300px;
  padding: 10px;
  margin: 0px;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 0px;
  box-sizing: border-box;
  outline: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 0.3s;
  z-index: 50;
  /* Variations */
  /* Generic components */
  /* Specific components */
}
/* line 23, ../../src/css/console.scss */
.console.fixed {
  position: fixed;
  display: block;
  height: 50%;
  top: -50%;
}
/* line 30, ../../src/css/console.scss */
.console.fixed.fullscreen {
  height: 100% !important;
  top: -100% !important;
}
/* line 34, ../../src/css/console.scss */
.console.open, .console.fixed.open, .console.fixed.fullscreen.open {
  top: 0px !important;
}
/* line 39, ../../src/css/console.scss */
.console * {
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  color: #ccc;
  font-family: monospace;
  font-size: 11px;
  line-height: 16px;
  list-style: none;
  text-align: left;
  box-sizing: border-box;
}
/* line 54, ../../src/css/console.scss */
.console input::-webkit-calendar-picker-indicator {
  display: none;
}
/* line 60, ../../src/css/console.scss */
.console .command-list p, .console .command-list .prefix, .console .command-list input[type="text"], .console .new-line p, .console .new-line .prefix, .console .new-line input[type="text"] {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  bottom: 0px;
  color: #ccc;
  font-family: monospace;
  font-size: 11px;
  line-height: 16px;
  text-align: left;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
}
/* line 90, ../../src/css/console.scss */
.console .new-line .prefix {
  width: auto;
}
/* line 93, ../../src/css/console.scss */
.console .new-line input[type="text"] {
  width: 100%;
  max-width: calc(100% - 130px);
  padding: 0px 5px;
}
